<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>app</title>
</head>
<body>
<a href="/api/v1/async">/api/v1/async</a>
<a href="/api/v1/async-error">/api/v1/async-error</a>
<a href="/api/v1/spring/event1/event1">/api/v1/spring/event1/event11</a>
<a href="/api/v1/spring/event1/event2">/api/v1/spring/event1/event12</a>
<a href="/api/v1/spring/event2/event1">/api/v1/spring/event2/event21</a>
<a href="/api/v1/spring/event2/event2">/api/v1/spring/event2/event22</a>
</body>
</html>
